html{
    scroll-behavior: smooth;
}

h1{
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

h1:hover{
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

p{
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding-left: 1vw;
    padding-right: 1vw;

}

p:hover{
    transition: transform 1s;
    transform: scale(1.01);
}


.Navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
}

@keyframes moveNav{
    from{left: -100vw}
    to{left: 0vw}
}

.Navbar a{
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;

    -webkit-animation: moveNavText 5s;

}

@keyframes moveNavText {
    from {top: -100vw}
    to {top: 0vw}
}

.Navbar a.Active{
    background-color:darkgray;
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 20%;
        font-size: 12px;
    }
    
}

.Navbar a:hover{
    background-color: #f4f4f4;
    color:black;
    font-weight: bold;
    cursor: pointer;
}

#Typing_Video{
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    #Typing_Video{
        display: none;
    }    
}

.Video_Text{
    padding-top: 2vh;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;

    -webkit-animation: moveVideoText 6s;

}

@keyframes moveVideoText {
    from {top: -100vw;}
    to{top: 0vw;}    
}

.white-text{
    color: #fff;
    padding-top: 10vh;
    
}

.center{
    text-align: center;
}

.center:hover{
    transition: transform 2s;
    transform: scale(1.1);
}

.mySlides{
    display:none;
}

#Slideshow_Background{
    background: rgba(255,255,255,.35);
}
#Slideshow_Container{
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}
.Slideshow_Images{
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: 100%;
}

.text{
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    background-color: rgba(0,0,0,.85);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

.Previous, .Next{
    position: absolute;
    color: darkgray;
    top: 50%;
    cursor: pointer;
    width: auto;
    padding: 2vw;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
    
}

.Next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

.active, .dot:hover{
    background-color: black;
}

.fade{
    animation-name: fade; 
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
    
}

*{
    box-sizing: border-box;
}

.Column_1{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2{
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #4d4d4d;
}



.Row:after{
    content: "";
    display: table;
    clear: both;
}

img{
    filter: grayscale(50%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto auto auto auto;

}

img:hover{
    filter: grayscale(10%)

}

footer{
    padding: 2%;
    background-color: blanchedalmond;
}

.Pop_Up_Button{
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

.form-popup{
    border: 3px solid #f0f1f0;
    z-index: 8;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
    display: none;
    
}

.form-container{
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

.form-container input[type=text]{
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

button{
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    transition-duration: 1s;
    border-color: silver;
}

.form-container .btn{
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
